<div class="customFooterDesktopWrapper customDesktop">
  <section class="customTutorialDesktop">
    <div class="customCtn">
      <div class="customTutorialColumns">
        <div class="customTutorialCol">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1112.svg" alt="">
          <h2>Escolha os produtos que você<br> vai comprar</h2>
          <p>Se quiser mais de um, basta adicioná-los ao seu carrinho.</p>
        </div>
        <div class="customTutorialCol">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1123.svg" alt="">
          <h2>Use o meio de <br>pagamento que quiser</h2>
          <p>Compre com segurança. Nós usamos a tecnologia do Mercado Pago.</p>
        </div>
        <div class="customTutorialCol">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1142-1.svg" alt="">
          <h2>Receba o produto <br>conforme esperado</h2>
          <p>Escolha o tipo de entrega que você prefere e pronto! Com o Mercado Envios, garantimos que você vai receber sua compra.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="brandSlideSection customFooterSection">
    <h2>Compre por categorias</h2>
    <div class="customCtn">
      <div class="customBuySlideWraperDesktop">
        <div class="customBuySlide">
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/medi%C3%A7%C3%B5es">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/1-Medicoes.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Medições
                </p>
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/inserto">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/2-Inserto.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Inserto
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/industria-comercio/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/3-Industria-e-Comercio.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Indústria e Comércio
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/ferramentas/ferramentas-manuais/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/4-Ferramentas-manuais.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Ferramentas<br/> Manuais
                </p>
              </a></div>
          </div>
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/ferramentas-industriais">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/5-Ferramentas-Industriais.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Ferramentas <br/>Industriais
                </p>
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao/cozinha/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/6-Cozinha.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Cozinha
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/ferramentas/acessorios-ferramentas/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/7-Acessorios-para-Ferramentas.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Acessórios <br/>para Ferramentas
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/ferramentas/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/8-Ferramentas.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Ferramentas
                </p>
              </a></div>
          </div>
        </div>
        <button class="customSlideBtn customSlideArrowPrevious">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Arrow-1.png" alt="">
        </button>
        <button class="customSlideBtn customSlideArrowNext">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Arrow.png" alt="">
        </button>
      </div>
    </div>
  </section>
  <section class="brandSlideSection customFooterSection">
    <h2>Compre por marcas</h2>
    <div class="customCtn">
      <div class="customBuySlideWraperDesktop">
        <div class="customBuySlide">
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/dormer">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo1-2.png"
                  alt=""
                />
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/corneta">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo2-2.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/mitutoyo">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo3-2.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/mtx">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo4-2.png"
                  alt=""
                />
              </a></div>
          </div>
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/gross">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo1-1.png"
                  alt=""
                />
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/quimatic">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo2-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/eda">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo3-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/ades">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo4-1.png"
                  alt=""
                />
              </a></div>
          </div>
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/oke">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo1-1-1.png"
                  alt=""
                />
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/zcc">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo2-1-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/wg">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo3-1-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/santana">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo4-1-1.png"
                  alt=""
                />
              </a></div>
          </div>
        </div>
        <button class="customSlideBtn customSlideArrowPrevious">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Arrow-1.png" alt="">
        </button>
        <button class="customSlideBtn customSlideArrowNext">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Arrow.png" alt="">
        </button>
      </div>
    </div>
  </section>
  <div class="customFooter customFooterDesktop">
    <footer>
      <div class="customCtn">
        <div class="customMainFooterFirstLine">
          <div class="customMainFooterFirstCol">
            <img
              src="{{logo}}"
              style="width: 180px; margin-bottom: 16px"
              alt=""
            />
            <p>Empresa criada para atender aos clientes que procuram por peças
              de usinagem de qualidade com preço justo e atendimento
              especializado. Priorizamos o envio rápido e seguro para todo
              Brasil.</p>
          </div>
          <div class="customMainFooterSecondCol">
            <div class="innerFirstLine footerNav">
              <div class="innerFirstCol footerNavCol">
                <ul>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/"
                      class="footerMainCategory"
                    >Ferramentas</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/acessorios-ferramentas/"
                      class="footerCategoryLink"
                    >Acessórios e ferramentas</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/ferramentas-manuais/"
                      class="footerCategoryLink"
                    >Ferramentas Manuais</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/medicoes-instrumentacao/"
                      class="footerCategoryLink"
                    >Medições e Instrumentação</a></li>
                </ul>
              </div>
              <div class="innerSecondCol footerNavCol">
                <ul>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/industria-comercio/"
                      class="footerMainCategory"
                    >Indústria e Comércio</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/industria-comercio/ferramentas-industriais/"
                      class="footerCategoryLink"
                    >Ferramentas industriais</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/ferramentas-manuais/"
                      class="footerCategoryLink"
                    >Outros</a></li>
                </ul>
              </div>
              <div class="innerThirdCol footerNavCol">
                <ul>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao//"
                      class="footerMainCategory"
                    >Casa</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao/cozinha/"
                      class="footerCategoryLink"
                    >Cozinha</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao/jardim-ar-livre/"
                      class="footerCategoryLink"
                    >Jardim e Ar Livre</a></li>
                </ul>
              </div>
            </div>
            <div class="innerSecondLine footerContactNav">
              <div>
                <a
                  href="tel:+5514996452154"
                  style="display: inline-flex; align-items: center; color: #FFF; text-decoration: 0; font-size: 14px;"
                >
                  <span
                    style="margin-right: 8px; position: relative; top: 4px"
                  ><img
                      src="https://savvi.com.br/wp-content/uploads/2023/01/Group-1086.svg"
                      alt=""
                      style="width: 18px;"
                    /></span>
                  <span>(14) 3451-1004</span>
                </a>
              </div>
              <div>
                <a
                  href="https://api.whatsapp.com/send?phone=5514996452154"
                  target="_blank"
                  style="display: inline-flex; align-items: center; color: #FFF; text-decoration: 0; font-size: 14px;"
                >
                  <span
                    style="margin-right: 8px; position: relative; top: 4px"
                  ><img
                      src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1090-1.svg"
                      alt=""
                      style="width: 18px;"
                    /></span>
                  <span>(14) 99645-2154</span>
                </a>
              </div>
              <div>
                <span
                  style="margin-right: 8px; position: relative; top: 4px"
                ><img
                    src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1093-1.svg"
                    alt=""
                    style="width: 18px;"
                  /></span>
                <a
                  href="mailto:contato@fhgferramentas.com.br"
                  style="display: inline-flex; align-items: center; color: #FFF; text-decoration: 0; font-size: 14px;"
                >
                  <span>contato@fhgferramentas.com.br</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="customSecondLine">
          <div class="customFooterSocialIcons">
            <a href="https://www.facebook.com/fhgferramentas" target="_blank" style="margin-right: 4px;">
              <img
                src="https://savvi.com.br/wp-content/uploads/2023/01/Group-1218.svg"
                alt=""
              />
            </a>
            <a href="https://www.instagram.com/fhgferramentas/" target="_blank" target="_blank">
              <img
                src="https://savvi.com.br/wp-content/uploads/2023/01/Group-1217.svg"
                alt=""
              />
            </a>
          </div>
          <div class="customDiviser">
            <hr />
          </div>
        </div>
        <div class="customThirdLine">
          <div>
            <p
              style="color: #FFF; margin: 0; font-weight: 700; font-size: 14px;"
            >Felipe Heitor Gimenes - 34.236.001/0001-51</p>
            <div style="margin-top: 8px">
              <a
                href="https://goo.gl/maps/HtHJLvmJKLatGdDNA"
                target="_blank"
                class="adressLink"
              >
                <span style="margin-right: 8px"><img
                    src="https://savvi.com.br/wp-content/uploads/2023/01/Icon-ionic-ios-pin.svg"
                    alt=""
                  /></span>
                <span style="position: relative; top: -2px">Avenida antártica -
                  611 - Marilia - São Paulo</span>
              </a>
            </div>
          </div>
          <div class="footerInfoLinks">
            <a
              href="https://www.fhgferramentas.com.br/p/como-comprar"
              style="margin-right: 16px"
            >Como comprar?</a>
            <a href="https://www.fhgferramentas.com.br/p/privacidade">Como
              cuidamos da sua privacidade?</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<div class="customFooterMobileWrapper customMobile">
  <section class="customTutorialMobile">
    <div class="customCtn">
      <div class="customTutorialColumns">
        <div class="customTutorialCol">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1112.svg" alt="">
          <h2>Escolha os produtos que você<br> vai comprar</h2>
          <p>Se quiser mais de um, basta adicioná-los ao seu carrinho.</p>
        </div>
        <div class="customTutorialCol" style="margin: 32px 0;">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1123.svg" alt="">
          <h2>Use o meio de <br>pagamento que quiser</h2>
          <p>Compre com segurança. Nós usamos a tecnologia do Mercado Pago.</p>
        </div>
        <div class="customTutorialCol">
          <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1142-1.svg" alt="">
          <h2>Receba o produto <br>conforme esperado</h2>
          <p>Escolha o tipo de entrega que você prefere e pronto! Com o Mercado Envios, garantimos que você vai receber sua compra.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="brandSlideSection customFooterSection">
    <h2>Compre por categorias</h2>
    <div class="customCtn">
      <div class="customBuySlideWraperMobile">
        <div class="customBuySlide">
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/medi%C3%A7%C3%B5es">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/1-Medicoes.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Medições
                </p>
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/inserto">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/2-Inserto.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Inserto
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/industria-comercio/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/3-Industria-e-Comercio.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Indústria e Comércio
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/ferramentas/ferramentas-manuais/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/4-Ferramentas-manuais.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Ferramentas<br/> Manuais
                </p>
              </a></div>
              <div>
              <a href="https://www.fhgferramentas.com.br/ferramentas-industriais">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/5-Ferramentas-Industriais.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Ferramentas <br/>Industriais
                </p>
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao/cozinha/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/6-Cozinha.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Cozinha
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/ferramentas/acessorios-ferramentas/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/7-Acessorios-para-Ferramentas.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Acessórios <br/>para Ferramentas
                </p>
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/lista/ferramentas/">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/8-Ferramentas.png"
                  alt=""
                />
                <p 
                style="color: #FFF; text-align: center; margin-bottom: 0; margin-top: -16px; font-size: 18px; font-weight: bold;">
                  Ferramentas
                </p>
              </a></div>
          </div>
          </div>
      </div>
    </div>
  </section>
  <section class="brandSlideSection customFooterSection">
    <h2>Compre por marcas</h2>
    <div class="customCtn">
      <div class="customBuySlideWraperMobile">
        <div class="customBuySlide">
          <div class="customBuySlideCol">
            <div>
              <a href="https://www.fhgferramentas.com.br/dormer">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo1-2.png"
                  alt=""
                />
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/corneta">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo2-2.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/mitutoyo">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo3-2.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/mtx">
                <img
                  src="https://blog.savvi.com.br/wp-content/uploads/2023/01/Loogo4-2.png"
                  alt=""
                />
              </a></div>
              <div>
              <a href="https://www.fhgferramentas.com.br/gross">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo1-1.png"
                  alt=""
                />
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/quimatic">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo2-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/eda">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo3-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/ades">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo4-1.png"
                  alt=""
                />
              </a></div>
              <div>
              <a href="https://www.fhgferramentas.com.br/oke">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo1-1-1.png"
                  alt=""
                />
              </a>
            </div>
            <div><a href="https://www.fhgferramentas.com.br/zcc">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo2-1-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/wg">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo3-1-1.png"
                  alt=""
                />
              </a></div>
            <div><a href="https://www.fhgferramentas.com.br/santana">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/02/Loogo4-1-1.png"
                  alt=""
                />
              </a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="customFooter customFooterMobile">
    <footer>
      <div class="customCtn">
        <div class="customMainFooterFirstLine">
          <div class="customMainFooterFirstCol">
            <img
              src="{{logo}}"
              style="width: 180px; margin-bottom: 16px"
              alt=""
            />
            <p>Empresa criada para atender aos clientes que procuram por peças
              de usinagem de qualidade com preço justo e atendimento
              especializado. Priorizamos o envio rápido e seguro para todo
              Brasil.</p>
              <div style="margin-top: 8px">
                <a href="https://www.facebook.com/fhgferramentas" target="_blank" style="margin-right: 4px;">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/01/Group-1218.svg"
                  alt=""
                />
              </a>
              <a href="https://www.instagram.com/fhgferramentas/" target="_blank" target="_blank">
                <img
                  src="https://savvi.com.br/wp-content/uploads/2023/01/Group-1217.svg"
                  alt=""
                />
              </a>
              </div>
          </div>
          <div class="customMainFooterSecondCol">
            <div class="innerFirstLine footerNav">
              <div class="innerFirstCol footerNavCol">
                <ul>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/"
                      class="footerMainCategory"
                    >Ferramentas</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/acessorios-ferramentas/"
                      class="footerCategoryLink"
                    >Acessórios e ferramentas</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/ferramentas-manuais/"
                      class="footerCategoryLink"
                    >Ferramentas Manuais</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/medicoes-instrumentacao/"
                      class="footerCategoryLink"
                    >Medições e Instrumentação</a></li>
                </ul>
              </div>
              <div class="innerSecondCol footerNavCol">
                <ul>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/industria-comercio/"
                      class="footerMainCategory"
                    >Indústria e Comércio</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/industria-comercio/ferramentas-industriais/"
                      class="footerCategoryLink"
                    >Ferramentas industriais</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/ferramentas/ferramentas-manuais/"
                      class="footerCategoryLink"
                    >Outros</a></li>
                </ul>
              </div>
              <div class="innerThirdCol footerNavCol">
                <ul>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao//"
                      class="footerMainCategory"
                    >Casa</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao/cozinha/"
                      class="footerCategoryLink"
                    >Cozinha</a></li>
                  <li><a
                      href="https://www.fhgferramentas.com.br/lista/casa-moveis-decoracao/jardim-ar-livre/"
                      class="footerCategoryLink"
                    >Jardim e Ar Livre</a></li>
                </ul>
              </div>
            </div>
            <div class="innerSecondLine footerContactNav">
              <div>
                <a
                  href="tel:+551434511004"
                  style="display: inline-flex; align-items: center; color: #FFF; text-decoration: 0; font-size: 14px;"
                >
                  <span
                    style="margin-right: 8px; position: relative; top: 4px"
                  ><img
                      src="https://savvi.com.br/wp-content/uploads/2023/01/Group-1086.svg"
                      alt=""
                      style="width: 18px;"
                    /></span>
                  <span>(14) 3451-1004</span>
                </a>
              </div>
              <div>
                <a
                  href="https://api.whatsapp.com/send?phone=5514996452154"
                  style="display: inline-flex; align-items: center; color: #FFF; text-decoration: 0; font-size: 14px;"
                >
                  <span
                    style="margin-right: 8px; position: relative; top: 4px"
                  ><img
                      src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1090-1.svg"
                      alt=""
                      style="width: 18px;"
                    /></span>
                  <span>(14) 99645-2154</span>
                </a>
              </div>
              <div>
                <span
                  style="margin-right: 8px; position: relative; top: 4px"
                ><img
                    src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1093-1.svg"
                    alt=""
                    style="width: 18px;"
                  /></span>
                <a
                  href="mailto:contato@fhgferramentas.com.br"
                  style="display: inline-flex; align-items: center; color: #FFF; text-decoration: 0; font-size: 14px;"
                >
                  <span>contato@fhgferramentas.com.br</span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="customSecondLine">
          <div class="customDiviser">
            <hr />
          </div>
        </div>
        <div class="customThirdLine">
          <div>
            <p
              style="color: #FFF; margin: 0; font-weight: 700; font-size: 14px;"
            >Felipe Heitor Gimenes - 34.236.001/0001-51</p>
            <div style="margin-top: 8px">
              <a
                href="https://goo.gl/maps/HtHJLvmJKLatGdDNA"
                target="_blank"
                class="adressLink"
              >
                <span style="margin-right: 8px"><img
                    src="https://savvi.com.br/wp-content/uploads/2023/01/Icon-ionic-ios-pin.svg"
                    alt=""
                  /></span>
                <span style="position: relative; top: -2px">Avenida antártica -
                  611 - Marilia - São Paulo</span>
              </a>
            </div>
          </div>
          <div class="footerInfoLinks">
            <a
              href="https://www.fhgferramentas.com.br/p/como-comprar"
              style="margin-right: 16px"
            >Como comprar?</a>
            <a href="https://www.fhgferramentas.com.br/p/privacidade">Como
              cuidamos da sua privacidade?</a>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- OLD FOOTER
<footer class="nav-tools-footer header--custom-background">
  <section class="nav-tools-footer__bound header--custom-background">
    <section class="nav-tools-footer__top">
      <div class="nav-tools-footer__info header--custom-text">
        <div class="nav-tools-footer__logo">
          {{#if logo}}
            <img src="{{logo}}" alt="{{name}}">
          {{else}}
            <span class="header--custom-text">
              {{name}}
            </span>
          {{/if}}
        </div>
        <div class="nav-tools-footer__contact">
          <div data-editable="contact">
            {{#if showContact}}
              {{#if showPhone}}
                <a class="header--custom-text">{{phone.formatted}}</a>
              {{/if}}

              {{#if showEmail}}
                <a class="header--custom-text" href="mailto:{{email}}">{{email}}</a>
              {{/if}}

              {{#if address}}
                {{#with address}}
                  <p>
                    <span itemprop="streetAddress" class="header--custom-text">{{address}}</span>
                    <span itemprop="addressLocality" class="header--custom-text">{{city}}</span>
                    <span itemprop="addressRegion" class="header--custom-text">{{state}}</span>
                  </p>
                {{/with}}
              {{/if}}
            {{/if}}
          </div>
          <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
            {{#if showSocialNetworks}}
              {{#each socialNetworks}}
                <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
                  {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
                </a>
              {{/each}}
            {{/if}}
          </div>
        </div>
      </div>
      <div class="nav-tools-footer__categories header--custom-text header--custom-border">
        {{#each menu}}
          <span class="nav-tools-footer__category">
            <a class="header--custom-text" href="{{url}}" data-id="{{id}}">
              {{name}}
            </a>
          </span>
        {{/each}}
      </div>
      <div class="nav-tools-footer__pages header--custom-text header--custom-border">
        <span class="nav-tools-footer__page">
          <a href="{{linkToHowBuy.href}}" class="header--custom-text">{{linkToHowBuy.label}}</a>
        </span>
      </div>
      <div class="nav-tools-footer__social-media" data-editable="socialNetworks">
        {{#if showSocialNetworks}}
          {{#each socialNetworks}}
            <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
              {{> (concat 'icons/social_networks/' (lookup . 'name'))}}
            </a>
          {{/each}}
        {{/if}}
      </div>
    </section>
    <section class="nav-tools-footer__bottom header--custom-border header--custom-text">
      <div>
        <div class="nav-footer-about">
          <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="header--custom-text">{{i18n.powered_by}}</a>
          {{#if linkToLegalNotices}}
            <a href="{{linkToLegalNotices.href}}" class="header--custom-text">{{linkToLegalNotices.label}}</a>
          {{/if}}
          {{#if linkToLGPD}}
            <a href="{{linkToLGPD.href}}" class="header--custom-text">{{linkToLGPD.label}}</a>
          {{/if}}
        </div>

        {{#if showBusinessData}}
          {{#with fiscalData}}
            <div class="nav-footer-fiscal-data">
              <p class="nav-footer-fiscal-data__name">{{legal_name}}</p>
              <p class="nav-footer-fiscal-data__id">{{legal_doc}}</p>
            </div>
          {{/with}}
        {{/if}}
      </div>
      {{#if showQrData}}
        {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
        {{/with}}
      {{/if}}
    </section>
  </section>
</footer>
-->