<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N827NZF');</script>
    <!-- End Google Tag Manager -->
</head>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N827NZF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="headerDesktop customDesktop">
    <div class="header-wrapper header-wrapper--fixed {{headerAdditionalClasses}}" data-ms-theme="tools">
    {{#if flash.enabled}} {{> components/flash}} {{/if}}
    {{> components/cookieDisclaimer}}
    <div class="customHeaderDesktopTop">
        <div class="customCtn">
            <div class="customHeaderLogo headerTopCol">
                <a href="https://www.fhgferramentas.com.br/" style="display: inline-block;">
                    <img src="{{logo}}" alt="" style="width: 150px">    
                </a>
            </div>
            <div class="customHeaderContactCol headerTopCol">
                <a href="https://www.facebook.com/fhgferramentas" target="_blank" class="customSocialIcon">
                    <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1087.svg" alt="facebook icon">
                </a>
                <a href="https://www.instagram.com/fhgferramentas/" target="_blank">
                    <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1091.svg" alt="" srcset="">
                </a>
                <button class="customContactBtnLink">
                    <span class="customContactBtnIcon">
                        <img src="https://savvi.com.br/wp-content/uploads/2023/02/Contato-1.svg" alt="">
                    </span>
                    <span class="customContactnBtnText">
                        Entre em contato
                    </span>
                    <div class="customFloatContact">
                        <div class="contactFloatInner">
                            <div>
                                <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1085.svg" alt="">
                            </div>
                            <div>
                                <a href="tel:+5514996452154" style="display: inline-flex; align-items: center; text-decoration: none;"><span style="margin-right: 4px; margin-top: 4px"><img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1086-1.svg" alt=""></span><span>(14) 99645-2154</span></a>
                                <a href="tel:+551434511004" style="display: inline-flex; align-items: center; text-decoration: none;"><span style="margin-right: 4px; margin-top: 4px"><img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1086-1.svg" alt=""></span><span>(14) 3451-1004</span></a>
                                <a href="mailto:contato@fhgferramentas.com.br" style="display: inline-flex; align-items: center; text-decoration: none;"><span style="margin-right: 4px; margin-top: 4px"><img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1086-1.svg" alt=""></span><span>contato@fhgferramentas.com.br</span></a>
                            </div>
                        </div>
                    </div>
                </button>
            </div>
            <div class="customDesktopSearchCol customDesktopSearchRemove headerTopCol">
                <form action="" onsubmit="event.preventDefault()" class='formPrevent'>
                    <input type="text" id="customSearchInput">
                    <button class="customSearchBtn customSearchBtnDesktop">
                        <img src="https://savvi.com.br/wp-content/uploads/2023/02/Icon-feather-search.svg" alt="">
                    </button>
                </form>
            </div>
            <div class="customDesktopMSIcons headerTopCol">
                <a href="{{cart.href}}" target="_blank">
                    <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1092.svg" alt="">
                </a>
                <a href="{{contact.href}}">
                    <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1089.svg" alt="">
                </a>
            </div>
        </div>
    </div>
    <header role="banner" class="header" itemtype="http://schema.org/Store" itemid="#this" itemscope="" class="nav-tools">
        <div class="nav-tools-header__top header--custom-background">
            <div class="nav-tools-header__top-bound">
                <a href="/" id="logo-wrapper" class="nav-tools__logo-wrapper">
                    {{#if logo}}
                    <img id="image-logo" src="{{logo}}" alt="{{name}}" />
                    {{else}}
                    <span class="header--custom-text">
                        {{name}}
                    </span>
                    {{/if}}
                </a>
                <!-- Search box -->
                <div class="nav-tools-header__top-bound-separation">
                    <div class="top-separation">
                        <label class="nav-tools-header__searchbox-mock" for="search-box-toggle"> </label>
                        <input type="checkbox" name="search-box-toggle" id="search-box-toggle" />
                        <div class="nav-tools-header__searchbox {{hasInfoClass}}">
                            {{#if headerMessage}}
                            <div class="header__searchbox-info header--custom-text">
                                {{{headerMessage}}}
                            </div>
                            <!-- /.header__searchbox-info header--custom-text -->
                            {{/if}}
                            <form class="search-box-container" id="search-form" action="{{home_url}}">
                                <div class="close"></div>
                                <input type="text" id="search-input" name="search-box-tools" placeholder="{{i18n.placeholder}}" />
                                <button type="submit" class="search-button">
                                    {{> tools/views/partials/search}}
                                </button>
                                <!-- /.search-button -->
                            </form>
                        </div>
                        <!-- Icons contact/cart -->
                        <nav class="nav-tools-header__icons">
                            {{#if contact.href}}
                            <a href="{{contact.href}}" class="contact-button" rel="nofollow">
                                {{> tools/views/partials/contact}}
                            </a>
                            {{/if}}
                            {{#if cart.href}}
                            <a href="{{cart.href}}" title="Carrito" class="cart-button" id="nav-cart">
                                {{> tools/views/partials/cart-badge}}
                                {{> tools/views/partials/cart}}
                            </a>
                            {{/if}}
                            <!-- Required for menu-responsive widget -->
                            <input type="checkbox" id="mobile-categories-menu-switch" name="nav-tools-header__menu-switch" />
                            <label for="mobile-categories-menu-switch" id="hamburguer-menu">
                                <span class="nav-header__hamburger"></span>
                                <span class="nav-header__hamburger"></span>
                                <span class="nav-header__hamburger"></span>
                            </label>
                            <!-- Mobile categories menu has to be a sibling of switcher-->
                            <ul class="nav-list nav-list--vertical header--custom-background" itemtype="http://schema.org/SiteNavigationElement" itemscope>
                                {{#each menu}}
                                <div class="nav-tools-list--vertical__item" data-toggle="{{this.name}}">
                                    <li class="nav-tools-list--vertical__category header--custom-text">
                                        <a href="{{this.url}}">{{this.name}}</a>
                                        {{#if this.nodes}}
                                        <label for="attr-{{@../index}}-{{@index}}" data-js="subCategory-{{@index}}" class="toggle-menu subcategory">
                                            <span class="nav-header__toggle"></span>
                                            <span class="nav-header__toggle"></span>
                                        </label>
                                        {{/if}}
                                        <!-- /.attr-x -->
                                        <hr class="nav-tools-list--vertical__hr header--custom-border" />
                                    </li>
                                    <!-- /.nav-tools-list--vertical__category header--custom-text -->
                                    <div class="target-subCategory-{{@index}}">
                                        {{#each this.nodes}}
                                        <div class="nav-tools-list--vertical__subitem">
                                            <li class="header--custom-text">
                                                <a href="{{this.url}}">{{this.name}}</a>
                                                {{#if this.nodes}}
                                                <label for="attr-{{@../index}}-{{@index}}" data-js="attribute-{{@../index}}" class="toggle-menu attribute">
                                                    <span class="nav-header__toggle"></span>
                                                    <span class="nav-header__toggle"></span>
                                                </label>
                                                {{/if}}
                                                <!-- /.attr-x -->
                                            </li>
                                            <!-- /.header--custom-text -->
                                            <div class="nav-tools-list--vertical__attr-container target-attribute-{{@../index}}">
                                                {{#each this.nodes}}
                                                <li class="nav-tools-list--vertical__attribute header--custom-text">
                                                    <a href="{{this.url}}">{{this.name}}</a>
                                                </li>
                                                {{/each}}
                                            </div>
                                        </div>
                                        {{/each}}
                                    </div>
                                </div>
                                {{/each}}

                                <li class="nav-tools-list--vertical__category header--custom-text how-buy__button" data-js="how-buy__button" itemprop="name" tools-custom-data-emitter="how-buy__button">
                                  <a href="{{linkToHowBuy.href}}">{{linkToHowBuy.label}}</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Desktop navigation menu -->
                    <div class="nav-tools-header__categories header--custom-background">
                        <ul itemscope itemtype="http://schema.org/SiteNavigationElement" class="nav-list nav-list--horizontal header--custom-background header--custom-text header--custom-border" id="nav-list">
                            {{#each menu}}
                                <li class="nav-list__item" itemprop="name" tools-custom-data-emitter="{{@index}}">
                                    <a href="{{this.url}}" class="nav-list__link">{{this.name}}</a>
                                </li>
                            {{/each}}

                            {{#if sale.text}}
                              <li class="nav-list__item nav-default__sale-link" id="nav-default__sale-link">
                                <a href="{{sale.url}}" class="nav-list__link">{{sale.text}}</a>
                              </li>
                            {{/if}}

                            <li class="nav-list__item nav-list__item--more" style="visibility: visible;">
                                <div class="nav-list__link">{{i18n.moreCategories}}</div>
                                <ul class="nav-list nav-list--dropdown header--custom-background" id="more-dropdown">
                                    {{#each menu}}
                                    <li class="nav-list__item header--custom-text" itemprop="name" tools-custom-data-receiver="{{@index}}">
                                        <a href="{{this.url}}" class="nav-list__link">{{this.name}}</a>
                                        <span> <hr/> </span>

                                        <ul class="nav-list__item-subcategory">
                                            {{#each this.nodes}}
                                            <li class="nav-tools-list--vertical__attribute header--custom-text">
                                                <a class="text-bold" href="{{this.url}}">{{this.name}}</a>
                                            </li>
                                            <ul class="nav-list__item-subcategory">
                                                {{#each this.nodes}}
                                                <li class="nav-tools-list--vertical__attribute header--custom-text">
                                                    <a class="text-normal" href="{{this.url}}">{{this.name}}</a>
                                                </li>
                                                {{/each}}
                                            </ul>
                                            {{/each}}
                                        </ul>
                                        <!-- /.nav-list__item-subcategory -->
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                        </ul>
                        <div class="subcategorires header--custom-background">
                            {{#each menu}} {{#if this.nodes}}
                            <div class="nav-tools-list--vertical__subitem-container" data-toggle="{{@index}}">
                                <ul class="grid-list">
                                    {{#each this.nodes}}
                                    <li class="nav-tools-list--vertical__subitem header--custom-text">
                                        <a href="{{this.url}}" class="">{{this.name}}</a>
                                        <ul class="nav-tools-list--vertical__attribute_container">
                                            {{#each this.nodes}}
                                            <li class="nav-tools-list--vertical__attribute header--custom-text">
                                                <a href="{{this.url}}" class="">{{this.name}}</a>
                                            </li>
                                            {{/each}}
                                        </ul>
                                    </li>
                                    {{/each}}
                                </ul>
                            </div>
                            {{/if}} {{/each}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    </div>
</div>
<a href='https://api.whatsapp.com/send?phone=5514996452154' target='_blank' class='floatingWppBtn'><span style='margin-right: 32px;'><img src='https://web.b2bhotel.com.br/wp-content/uploads/2021/12/Icon-ionic-logo-whatsapp-2.svg'></span><span>(14) 996452154</span></a>
<div class="fixedBottomWrapper customMobile">
    <div class="fixedBottomForMobile">
        <button class="customHamburgMobile">
            <img src="https://savvi.com.br/wp-content/uploads/2023/02/Icon-material-menu.svg" alt="">
        </button>
        <a href="{{cart.href}}">
            <img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-1034.svg" alt="">
        </a>
        <a href="https://api.whatsapp.com/send?phone=5514996452154" target="_blank">
            <img src="https://savvi.com.br/wp-content/uploads/2023/02/Contato-2.svg" alt="">
        </a>
        <button class="customGoesTopMobile">
            <img src="https://savvi.com.br/wp-content/uploads/2023/02/Icon-ionic-ios-arrow-down.svg">
        </button>
    </div>
</div>
<div class="customHeaderMobileWrapper customMobile">
    <div class="customHeaderDesktopTop">
          <div class="customCtn">
              <div class="customHeaderLogo headerTopCol">
                  <a href="https://www.fhgferramentas.com.br/" style="display: inline-block"></a>
                  <img src="{{logo}}" alt="" style='max-width: 130px'>
              </div>
              <div class="customDesktopSearchCol headerTopCol">
                <form action="" onsubmit="event.preventDefault()" class='formPrevent'>
                    <input type="text" id="customSearchInput">
                    <button class="customSearchBtn customSearchBtnDesktop">
                        <img src="https://savvi.com.br/wp-content/uploads/2023/02/Icon-feather-search.svg" alt="">
                    </button>
                </form>
              </div>
          </div>
    </div>
</div>

<ul id="customCategoriesFixed">
{{#each menu}}
<div class="nav-tools-list--vertical__item" data-toggle="{{this.name}}">
    <li class="nav-tools-list--vertical__category header--custom-text">
        <a href="{{this.url}}">{{this.name}}</a>
        {{#if this.nodes}}
        <label for="attr-{{@../index}}-{{@index}}" data-js="subCategory-{{@index}}" class="toggle-menu subcategory">
            <span class="nav-header__toggle"></span>
            <span class="nav-header__toggle"></span>
        </label>
        {{/if}}
        <!-- /.attr-x -->
        <hr class="nav-tools-list--vertical__hr header--custom-border" />
    </li>
    <!-- /.nav-tools-list--vertical__category header--custom-text -->
    <div class="target-subCategory-{{@index}}">
        {{#each this.nodes}}
        <div class="nav-tools-list--vertical__subitem">
            <li class="header--custom-text">
                <a href="{{this.url}}">{{this.name}}</a>
                {{#if this.nodes}}
                <label for="attr-{{@../index}}-{{@index}}" data-js="attribute-{{@../index}}" class="toggle-menu attribute">
                    <span class="nav-header__toggle"></span>
                    <span class="nav-header__toggle"></span>
                </label>
                {{/if}}
                <!-- /.attr-x -->
            </li>
            <!-- /.header--custom-text -->
            <div class="nav-tools-list--vertical__attr-container target-attribute-{{@../index}}">
                {{#each this.nodes}}
                <li class="nav-tools-list--vertical__attribute header--custom-text">
                    <a href="{{this.url}}">{{this.name}}</a>
                </li>
                {{/each}}
            </div>
        </div>
        {{/each}}
    </div>
</div>
{{/each}}

<li class="nav-tools-list--vertical__category header--custom-text how-buy__button" data-js="how-buy__button" itemprop="name" tools-custom-data-emitter="how-buy__button">
    <a href="{{linkToHowBuy.href}}">{{linkToHowBuy.label}}</a>
</li>
</ul>
<div class="slider">
<div class="sliderInner">
    <div class="sliderItem">
        <a href="https://www.fhgferramentas.com.br/promo">
            <img src='https://savvi.com.br/wp-content/uploads/2023/12/Web-Banner-01.png' class="slideImg">
        </a>
    </div>
    <div class="sliderItem">
        <a href="https://www.fhgferramentas.com.br/dormer_BRAND_5722740#applied_filter_id%3DBRAND%26applied_filter_name%3DMarca%26applied_filter_order%3D8%26applied_value_id%3D5722740%26applied_value_name%3DDormer%26applied_value_order%3D1%26applied_value_results%3D233%26is_custom%3Dfalse">
            <img src='https://savvi.com.br/wp-content/uploads/2023/12/Web-Banner-02-1.png' class="slideImg">
        </a>
    </div>
    <div class="sliderItem">
        <a href="https://fhgferramentas.com.br/inserto">
            <img src='https://savvi.com.br/wp-content/uploads/2023/12/Web-Banner-03.png' class="slideImg">
        </a>
    </div>
    <div class="sliderItem">
        <a href="https://fhgferramentas.com.br/proteplus">
            <img src='https://savvi.com.br/wp-content/uploads/2023/12/Web-Banner-04.png' class="slideImg">
        </a>
    </div>
    <div class="sliderItem">
        <a href="https://fhgferramentas.com.br/placa%20de%20torno">
            <img src='https://savvi.com.br/wp-content/uploads/2023/12/Web-Banner-05.png' class="slideImg">
        </a>
    </div>
</div>
<div class="sliderBottom">
</div>
<button class="sliderBtn slideReturn"><img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-239.png"></button>
<button class="sliderBtn slideForward"><img src="https://savvi.com.br/wp-content/uploads/2023/02/Group-240.png" alt=""></button>
</div>
